<?xml version="1.0"?>
<!--xml file for roslaunch
	This file is for the command computer
-->

<launch>
	
	<!--Joy nodes-->
	<node name="joy_node" pkg="joy" type="joy_node" output="screen"/>

	<!--Remote Control nodes-->
	<node name="remote_control_node" pkg="remote_control" type="xbox_controller_node" output="screen" />
	<!--node name="motor_node" pkg="motor_controller" type="motor_node"/-->	

	<!--Remote Control Paramaters-->
	<!--param name="remote_control/send_freq" value="10"/>
	<param name="remote_control/xbox_controller/mapping" value="2"/>
	<param name="remote_control/bucket_gear" value="0.125"/>
	<param name="remote_control/sim" value="false"/-->
	
	
	<!--
	For quick command line input:
	

rosrun image_rotate image_rotate image:=/usb_cam/image_raw __name:=image_rotater _image_transport:=theora

rosrun image_view image_view image:=rotated/image _image_transport:=theora	
	-->

</launch>

