<?xml version="1.0"?>
<!--xml file for roslaunch
	roslaunch will navigate through xml file launching all nodes automatically
	This will launch nodes meant to run on the O-Droid only, so it launches all required nodes
-->

<launch>
	<!-- Remote Control -->
	<node name="joy_node" pkg="joy" type="joy_node"/>

	<node name="xbox_controller_node" pkg="remote_control" type="xbox_controller_node"/>

	<!--Hardware Interface nodes-->
	<node name="i2c_node"      pkg="hardware_interface" type="i2c_node"/>
	<!--node name="ina226_node"   pkg="hardware_interface" type="ina226_node"/-->
	
	<!--Motor Controller nodes-->
	<node name="motor_node" pkg="motor_controller" type="motor_node"/>
		
	
</launch>

