<?xml version="1.0"?>
<!--xml file for roslaunch
	Used to launch LIDAR nodes automatically-->
<launch>
	
	<node name="urg_node" pkg="urg_node" type="urg_node"/>
	<node name="pcl_conversion_node" pkg="new_lidar" type="pcl_conversion_node"/>
	<!--node name="pcl_segmentation_node" pkg="new_lidar" type="pcl_segmentation_node"/-->

</launch>

