<?xml version="1.0"?>
<!--xml file for roslaunch
	roslaunch will navigate through xml file launching all nodes automatically
-->

<launch>
	<!--Hardware Interface nodes-->
	<node name="i2c_node"      pkg="hardware_interface" type="i2c_node"/>
	<node name="adafruit_node" pkg="hardware_interface" type="adafruit_node"/>
	<node name="adc_node"      pkg="hardware_interface" type="adc_node"/>
	
	<!--node name="ina226_node"   pkg="hardware_interface" type="ina266_node"/-->
	
	<!--Joy nodes-->
	<node name="joy_node" pkg="joy" type="joy_node"/>
	<!--Joy parameters-->
	
	<!--LADAR Nodes-->
	<!--<node name="urg_node" pkg="urg" type="?"/>-->
	<!--node name="ladar_node" pkg="ladar" type="ladar_node"/-->
	
	<!--Motor Controller nodes-->
	<node name="bucket_motor_node" pkg="motor_controller" type="bucket_motor_node"/>
	<node name="linear_actuator_node" pkg="motor_controller" type="linear_actuator_node"/>
	<node name="wheel_motor_node" pkg="motor_controller" type="wheel_motor_node"/>
	
	<!--Power Monitering nodes-->
	<!--node name="power_monitoring_node" pkg="power_monitoring" type="power_monitoring_node"/-->
	
	<!--Remote Control nodes-->
	<node name="remote_control_node" pkg="remote_control" type="xbox_controller_node"/>
	<!--Remote Control Paramaters-->
	<param name="remote_control/send_freq" value="10"/>
	<param name="remote_control/xbox_controller/mapping" value="2"/>
	
	
</launch>

